@tailwind base;
@tailwind components;
@tailwind utilities;

.google-auth {
  line-height: 16px;
  font-weight: normal;
  text-align: center;
}

.google-auth::before {
  content: '';
  flex: 1 1 10%;
  margin: 0px 10px;
  transform: translateY(-50%);
  @apply border-b border-b-gray-600;
}

.google-auth::after {
  content: '';
  flex: 1 1 10%;
  margin: 0px 10px;
  transform: translateY(-50%);
  @apply border-b border-b-gray-600;
}

.react-datepicker__input-container input {
  @apply w-full bg-gray-800 outline-none rounded-md p-3 focus:outline-violet-500 focus:bg-violet-500/25 focus:ring-2 focus:ring-violet-500 shadow-sm;
}

/* Chrome, Safari, Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='checkbox']:checked + label {
  @apply text-white bg-violet-500;
}

.dropdown-container::-webkit-scrollbar {
  display: none;
}

.dropdown-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: auto;
}

.bg-gradient {
  background: rgb(92, 130, 246);
  background: -moz-linear-gradient(
    130deg,
    rgba(92, 130, 246, 1) 0%,
    rgba(139, 92, 246, 1) 50%,
    rgba(183, 92, 246, 1) 100%
  );
  background: -webkit-linear-gradient(
    130deg,
    rgba(92, 130, 246, 1) 0%,
    rgba(139, 92, 246, 1) 50%,
    rgba(183, 92, 246, 1) 100%
  );
  background: linear-gradient(
    130deg,
    rgba(92, 130, 246, 1) 0%,
    rgba(139, 92, 246, 1) 50%,
    rgba(183, 92, 246, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c82f6",endColorstr="#b75cf6",GradientType=1);
}
