@tailwind base;
@tailwind components;
@tailwind utilities;

.google-auth {
  line-height: 16px;
  font-weight: normal;
  text-align: center;
}

.google-auth::before {
  content: '';
  flex: 1 1 10%;
  margin: 0px 10px;
  transform: translateY(-50%);
  @apply border-b border-b-gray-600;
}

.google-auth::after {
  content: '';
  flex: 1 1 10%;
  margin: 0px 10px;
  transform: translateY(-50%);
  @apply border-b border-b-gray-600;
}
