@tailwind base;
@tailwind components;
@tailwind utilities;

.google-auth {
  line-height: 16px;
  font-weight: normal;
  text-align: center;
}

.google-auth::before {
  content: '';
  flex: 1 1 10%;
  margin: 0px 10px;
  transform: translateY(-50%);
  @apply border-b border-b-gray-600;
}

.google-auth::after {
  content: '';
  flex: 1 1 10%;
  margin: 0px 10px;
  transform: translateY(-50%);
  @apply border-b border-b-gray-600;
}

.react-datepicker__input-container input {
  @apply w-full bg-gray-700 outline-none rounded-md p-3 focus:outline-violet-400 focus:bg-violet-400/25 focus:ring-2 focus:ring-violet-400 shadow-sm;
}

/* Chrome, Safari, Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='checkbox']:checked + label {
  @apply text-white bg-violet-400;
}
